*{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  overflow: hidden;
}
#canvas{
  width: 100%;
  height: 100%;
}
